# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\OneDrive - Danmarks Tekniske Universitet\DTU\3. semester\#2 Compiler Construction\# Exercises\03.02- CFG- html\html\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
